{{#partial "content"}}

    <div class="card col-lg-8">
        <p class="card-text" id="hero-text">  created event successfully</p>

    </div>

    <a href="/"> Home </a>

{{/partial}}

{{> layout.hbs}}