{{#partial "content"}}

<div class="text-center border border-4">
        <h1 class="text-info"> {{events.title}}</h1>
        <p>{{events.price}}</p>
        <p>{{events.host}}</p>
        <p>{{events.description}}</p>
</div>
    <a href="/"> Home </a>

{{/partial}}

{{> layout.hbs}}