{{#partial "content"}}

    <div class="card col-lg-8">
        <p class="card-text" id="hero-text">You have successfully created a squad</p>
    </div>

    <a href="/"> Home </a>

{{/partial}}

{{> layout.hbs}}